/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cabin', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 100px;
  background: black;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  header {
    padding: 14px 15px;
  }
}
header img {
  width: 5rem;
}
header .logo {
  color: #F5FFFA;
  height: auto;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
  cursor: pointer;
}
header .logo a {
  text-decoration: none;
  color: #F5FFFA;
}
header nav {
  float: right;
}
@media (max-width: 700px) {
  header nav {
    position: absolute;
    width: 100%;
    height: 15.2rem;
    background: #333;
    top: 75px;
    left: -100%;
    transition: 0.5s;
  }
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
@media (max-width: 700px) {
  header nav ul {
    display: block;
    text-align: center;
  }
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 5rem;
  font-size: 15px;
  line-height: 50px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  display: block;
}
@media (max-width: 700px) {
  header nav ul li a {
    border-bottom: 1px solid black;
  }
}
header nav ul li a:hover {
  color: orange;
}
header nav.active {
  left: 0;
}
header .menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  display: none;
  cursor: pointer;
}
@media (max-width: 700px) {
  header .menu-toggle {
    display: block;
  }
}
.toggle-class {
  display: none;
}
.main-content {
  margin-top: 70px;
  border: 1px solid black;
  height: auto;
  margin-bottom: 1rem;
}
.main-content .banner {
  height: 20vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7070db;
}
.main-content .banner h1 {
  color: #F5FFFA;
}
.main-content .our-story {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .our-story h2 {
  text-align: center;
  margin: 5rem;
  color: #FF6347;
}
.main-content .our-story .text-box {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  width: 600px;
  margin-bottom: 5rem;
  padding: 2rem;
}
@media (max-width: 700px) {
  .main-content .our-story .text-box {
    width: 400px;
  }
}
.main-content .our-story .text-box p {
  line-height: 30px;
}
.main-content .team {
  display: flex;
  justify-content: center;
}
.main-content .team .team-container {
  width: 80rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 920px) {
  .main-content .team .team-container {
    width: 60rem;
  }
}
.main-content .team .team-container .title {
  text-align: center;
  margin-top: 4rem;
  color: #FF6347;
}
.main-content .team .team-container .profiles {
  max-width: 100rem;
  margin: 1rem 5rem 5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
@media (max-width: 700px) {
  .main-content .team .team-container .profiles {
    width: 100%;
  }
}
.main-content .team .team-container .profiles .box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 920px) {
  .main-content .team .team-container .profiles .box {
    width: 50%;
  }
}
.main-content .team .team-container .profiles .box .img-container {
  width: 70%;
  padding: 2rem;
}
.main-content .team .team-container .profiles .box .img-container img {
  border-radius: 100px;
  border: 5px solid black;
  margin: 1rem;
}
.main-content .team .team-container .profiles .box .nametag {
  font-size: 1.5rem;
  padding: 0rem 0rem 2rem 3rem;
}
footer {
  height: auto;
  font-size: 1.5rem;
  max-width: 900px;
  margin: 0rem auto 4rem auto;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
@media (max-width: 700px) {
  footer .links {
    flex-direction: column;
    padding: 1rem;
  }
}
footer .links .logo {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}
@media (max-width: 700px) {
  footer .links .logo {
    padding-bottom: 10px;
  }
}
footer .links .logo a {
  text-decoration: none;
  color: black;
  padding: 2px;
  border: 2px solid #FF6347;
  border-radius: 5px;
}
footer .links .footernav ul {
  display: flex;
}
footer .links .footernav ul a {
  color: black;
  padding: 1rem;
}
@media (max-width: 700px) {
  footer .links .footernav ul {
    padding-bottom: 20px;
    margin-top: 3rem;
  }
}
footer .links .icons {
  font-size: 3rem;
  cursor: pointer;
}
@media (max-width: 700px) {
  footer .links .icons {
    padding: 3rem;
  }
}
footer .copyright {
  text-align: center;
  padding-top: 4rem;
}
@media (max-width: 920px) {
  footer .copyright {
    margin-top: 0rem;
  }
}
