@import "variables";
@import "mixins";
@import "reset";
@import "global";
@import "nav";

.toggle-class {
    display: none;
}

.main-content {
    margin-top: 70px;   
    border: 1px solid black;
    height: auto;
    margin-bottom: 1rem;
    .banner {
        height: 20vh;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7070db;
        h1 {
            color: #F5FFFA;
        }
    }
    .our-story {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
            text-align: center;
            margin: 5rem;
            color: #FF6347;
        }
        .text-box {
            border-top: 1px dashed black;
            border-bottom: 1px dashed black;
            width: 600px;
            margin-bottom: 5rem;
            padding: 2rem;
            @media @mobile {
                width: 400px;
            }
            p {
                line-height: 30px;
            }
        }
    }
    .team  {
        display: flex;
        justify-content: center;
        .team-container {
            width:80rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media @tablet {
                width: 60rem;
            }

            .title {
                text-align: center;
                margin-top: 4rem;
                color: #FF6347;
            }
            .profiles {
                
                max-width: 100rem;
                margin: 1rem 5rem 5rem 5rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-between;
                @media @mobile {
                    width: 100%;
                }
                .box {
                    
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media @tablet {
                        width: 50%;
                    }
                    .img-container {
                        width: 70%;
                        padding: 2rem;
                        img {
                            border-radius: 100px;
                            border: 5px solid black;
                            margin: 1rem;
                        }
                    }
                    .nametag {
                        font-size: 1.5rem;
                        padding: 0rem 0rem 2rem 3rem;
                    }
                }
            }
        }
    }
}

@import "footer";