.main-content {
    margin: 50px 50px 0px 50px;;
    height: auto;
    .banner {
        border-top: 2px dotted black;
        border-bottom: 2px dotted black;
        height: 50vh;
        display: flex;
        margin-top: 10rem;
        .text {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media @tablet {
                width: 100%;
            }
            .text-box {
                width: 50rem;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                border-right: 2px dashed black;
                @media @tablet {
                    border: none;
                    background-color:  #F8F8FF;
                    width: 60rem;
                }
                @media @mobile {
                    width: 40rem;
                }
                h1 {
                    color: #FF6347;
                    @media @tablet {
                        text-align: center;
                    }
                }
                p {
                    margin: 3rem 0rem 3rem 0rem;
                }
                button {
                    text-align: center;
                    width: 18rem;
                    height: 30px;
                    border: 4px solid black;
                    border-radius: 10px;
                    background-color:  #7070db;
                    color: white;
                    cursor: pointer;
                    @media @tablet {
                        width: 100%;
                    }
                }
            }
        }
        .main-img {
            width: 50%;
            @media @tablet {
                display: none;
            }
            .img-box {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    max-height: 100%;
                }
                
            }
        }
    }
    .features {
        height: 125rem;
        display: flex;
        justify-content: center;

        .box-container {
            border-top: 5px solid black;
            border-bottom: 5px solid black;
            width: 80%;
            height: 115rem;
            display: flex;
            flex-wrap: wrap;
            margin: 5rem 0rem 5rem 0rem;
            h2 {
                color: #FF6347;
            }
            .box3 {
                padding-left: 20%;
            }
            @media @tablet {
                flex-wrap: nowrap;
                flex-direction: column;
                margin-top: 5rem;
                margin-bottom: 0;
                height: 115rem;
                padding: 2rem;
                .box2 {
                    order: -1;
                    text-align: center;
                }
                .box3 {
                    text-align: center;
                    padding-left: 0;
                    border-top: 1px solid black;
                }
                .box5 {
                    order: 6;
                }
                .box6 {
                    text-align: center;
                    border-top: 1px solid black;
                }
            }
            @media @mobile {
                width: 100%;
            }
            div {
                
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media @tablet {
                    width: 100%;
                    padding: 2rem;
                }
                img {
                    height: 200px;;
                }
                
            }
            
        }
    }
}